<h2>Another Sucker Awaits!</h2>
<p>
  Where are we finding these people?  I swear we haven't written a single
  paycheck in over 10 weeks, and these monkeys just keep uploading their
  tab-delimited files, oblivious to the futility of it all.  I mean, it
  could have something to do with the fact that they are, literally,
  monkeys.  But I will say: they're a distinct improvement over the bears.
</p>
<p>
  User requesting authorization: <strong><%= @user.email %></strong><br />
  User account was created at: <strong><%= @user.created_at %></strong>
</p>