<h2>What a Spentifulous Day!</h2>

<p>
  You've been approved to upload stuff.  This is the beginning of immeasurable
  joy!  But don't let that get your hopes up.  The trickiest things to measure
  are those things whose existence we have yet to confirm.
</p>